<div class="animated fadeIn signin">
  <ul id="errors">
    <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
  </ul>

  <div class="session-form">

    <img class="logo-big" src="http://res.cloudinary.com/dms46o1eu/image/upload/v1445761051/logo_bottom_grey_2_i0kj4h.png">

    <h1 class="">Sign In</h1>

    <br/>

    <form action='<%= session_url %>' class="form" method="post">
      <%= auth_token %>

      <label for="username">
        <input class="username" id="username" name="user[username]" placeholder="Username" type="text">
      </label>

      <br/>

      <label for="password">
        <input class="password" id="password" name="user[password]" placeholder="Password" type="password">
      </label>

      <br/>
      <br/>
      <br/>
      <br/>

      <input class="signin" type="submit" value="Sign In!">

      <br/>
      <br/>
      <br/>

      <a class="animated infinite pulse demo-signin-link" href="/session/demo">...Or Sign In as a Guest!</a>
    </form>

  </div>
</div>
