// Place all the styles related to the Api::Professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#professor-show {
  text-align: center;
  margin-top: 10px;
  color: white;
  height: 100%;
}

div#professor-bio {
  top: 50px;
  height: 200px;
  width: 100%;
  border-bottom: #d3d3d3 solid 1px;
  position: fixed;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  background-image: url('http://res.cloudinary.com/dms46o1eu/image/upload/v1445047628/Hogwarts-Professors-banner-hogwarts-professors-16096805-800-100_hm1s0j.jpg');
  background-size: cover;
  background-position: center;
}

ul#averages {
  padding: inherit;
}

ul#averages li {
  display: inline-block;
  padding: 10px;
}
