// Place all the styles related to the Api::Professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#professor-show {
  text-align: center;
  margin-top: 10px;
  color: white;
}
