// Place all the styles related to the Api::Professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#professor-show {
  text-align: center;
  margin-top: 10px;
  color: white;
  height: 100%;
}
div#professor-bio {
  top: 50px;
  height: 200px;
  width: 100%;
  // border-radius: 10px;
  border: #2b2b2b solid 1px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
  position: fixed;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-bottom-left-radius: 100px 50px;
  border-bottom-right-radius: 100px 50px;
  z-index: 3;
}
div.professor-info{
  width: 30%;
  height: 100%;
  position: relative;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  text-shadow: 1px 1px 3px black;
}
div.professor-description{
  height: 100%;
  width: 30%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
  float: right;
  text-shadow: 1px 1px 3px black;
}

div.professor-description ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
div.professor-description li {
  padding: 10px;
}

div.professor-item {
  height: 95%;
  width: 95%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.5);
  text-shadow: 1px 1px 3px black;
  color: antiquewhite;
}

div.professor-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

div.professor-item h3 {
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}
div.professor-item ul.professor-overall{
  height: 80%;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  float: right;
}
div.professor-item ul.professor-overall li{
  padding: 5px;
  display: block;
}

img.professor-thumbnail {
  object-fit: cover; /* Center the image within the element */
  object-position: top;
  height: 90px;
  width: 90px;
  border: 1px solid #2e2d2d;
  border-radius: 100%;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

img.professor-pic {
  object-fit: cover; /* Center the image within the element */
  object-position: top;
  height: 200px;
  width: 200px;
  border: 1px solid #2e2d2d;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;;
}

img.professor-pic:hover {
  border-radius: 100%;
  -webkit-filter: brightness(200%);
  -moz-filter:brightness(200%); /* Firefox */
  -ms-filter:brightness(200%); /* IE 9 */
  -o-filter:brightness(200%); /* Opera */
  filter:brightness(200%);
}

.gryffindor {
  background-image: url("http://res.cloudinary.com/dms46o1eu/image/upload/v1445107448/house_banner_wallpaper_by_avalonsart-d47f9af_bvijta.png");
  background-size: contain;
  background-position: center;
}
.ravenclaw {
  background-image: url("http://res.cloudinary.com/dms46o1eu/image/upload/v1445107476/house_banner_wallpaper_by_avalonsart-d47f97l_njqjo9.png");
  background-size: contain;
  background-position: center;
}
.hufflepuff {
  background-image: url("http://res.cloudinary.com/dms46o1eu/image/upload/v1445107419/f468a4232e4ed01b932d453668175c1a_x7tbps.jpg");
  background-size: contain;
  background-position: center;
}
.slytherin {
  background-image: url("http://res.cloudinary.com/dms46o1eu/image/upload/v1445107472/house_banner_wallpaper_by_avalonsart-d47f9bn_t6mnlk.png");
  background-size: contain;
  background-position: center;
}

ul#averages {
  padding: inherit;
}

ul#averages li {
  display: inline-block;
  padding: 10px;
}
