// Place all the styles related to the Api::Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.review-bio {
  float: left;
  position: relative;
  height: 200%;
  width: 5%;
}
img.review-thumb {
  object-fit: cover; /* Center the image within the element */
  height: 90px;
  width: 90px;
  border: 1px solid #2e2d2d;
  border-radius: 100px;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

ul#review-list {
  font-size: 18px;
  font-style: italic;
  position: relative;
  width: 90%;
  text-align: center;
  margin: 10% auto;
  border-radius: 10px;
  border: #2b2b2b solid 1px;
  height: 75%;
  text-shadow: 1px 1px 3px black;
  // background-color: rgba(43,43,43,0.75);
}
div.review-detail {
  padding: 10px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.75);
  vertical-align: inherit;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;;
}
div.review-detail:hover {
  background-color: rgba(255,255,255,0.1);
  -webkit-filter: brightness(110%);
  -moz-filter:brightness(110%); /* Firefox */
  -ms-filter:brightness(110%); /* IE 9 */
  -o-filter:brightness(110%); /* Opera */
  filter:brightness(110%);
}
div.review-ratings {
  width: 95%;
  height: 40%;
  margin: auto;
  font-style: italic;
}
div.review-ratings ul {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
div.review-ratings li {
  padding-left: 50px;
  padding-right: 50px;
  display: inline;
}

div.like-count {
  font-size: 1vw;
  position: relative;
  float: right;
  bottom: 50%;
  transform: translateY(50%);
}
div.review-description {
  font-style: normal;
  font-size: 18px;
  font-size: 1vw;
  margin: 0 auto;
  height: 60%;
  width: 80%;
}
div.review-description p{
  padding: 5px;
  top: 50%;
  transform: translateY(-40%);
  position: relative;
}
div.like-button {
  height: 5px;
  float: right;
  position: relative;
  bottom: 20%;
}
button.like {
  font-size: 18px;
  position: relative;
  float: right;
  left: 10%;
  padding: 3px;
  font-size: 18px;
  color: ivory;
  cursor: inherit;
}
button.like:hover {
  color: rgb(125, 255, 0);
  cursor: inherit;
}
button.unlike:hover {
  color: rgb(255, 50, 0);
  cursor: inherit;
}
div.blur-text *{
  color: transparent;
  text-shadow: 0 0 5px ivory;
}
