<div class="animated fadeIn signin">
  <div class=session-form>
    <h1>Create a New Account</h1>

    <br/>
    <br/>

    <form action='<%= users_url %>' method="post" class="form">
      <%= auth_token %>

      <label for="username">
        <input class="username" name="user[username]" placeholder="Username" type="text">
      </label>

      <br/>

      <label for="password">
        <input class="password" name="user[password]" placeholder="Password" type="password">
      </label>

      <br>

      <label for="confirmation">
        <input class="confirmation" name="user[confirmation]" placeholder="Sorry, what was it again?" type="password">
      </label>

      <br/>
      <br/>

      <br/>
      <br/>

      <input class="btn" type="submit" value="Sign Up!">
    </form>
  </div>
</div>
