<div class="signup">

  <h1>Create a New Account</h1>

  <form action='<%= users_url %>' method="post">
    <%= auth_token %>

    <label for="username">
      <input id="username" name="user[username]" placeholder="Username" type="text">
    </label>

    <br/>

    <label for="password">
      <input id="password" name="user[password]" placeholder="Password" type="password">
    </label>

    <br>

    <label for="confirmation">
      <input id="confirmation" name="user[confirmation]" placeholder="Confirm" type="password">
    </label>

    <br/>

    <input type="submit" value="Sign Up!">
  </form>

</div>
