/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html *{
  font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

div.child {
  padding: 15px;
  height: 95vh;
  margin-top: 5%; //50px
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px; /* Decrease this value for cross-browser compatibility */
  overflow: auto;
}

body {
  width: 100%;
  overflow-y: auto;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  display: block;
  padding-top: 70px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#mainbody {
  height: 95vh;
  width: 95%;
}

div#root {
}

div#app {
  padding: 10px;
}

div#main {
  overflow-y: hidden;
  text-shadow: 1px 1px 3px black;
  padding-top: 3%;
  z-index: 1;
}

.search-heading {
  padding-bottom: 5px;
  color: ivory;
}

h2.search-heading {
  text-decoration: underline;
  padding-top: 5px;
  width: 25%;
  margin: auto;
}

h2.search-heading:hover {
  text-shadow: 1px 1px 10px white;
}

ul#errors {
  padding-top: 5px;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  display: inline;
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px red;
  font-size: 18px;
  z-index: 999;
}
ul#errors li{
  display: inline;
  padding: 10px;
}
body.office {
  background-image: url('http://res.cloudinary.com/dms46o1eu/image/upload/v1444806956/Dumbledores-Office_nifxrl.jpg');
}
body.great-hall {
  background-image: url('http://res.cloudinary.com/dms46o1eu/image/upload/v1445107556/B1-background_qs5ebt.jpg');
}
body.book {
  background-image: url('http://res.cloudinary.com/dms46o1eu/image/upload/v1444808512/Hogwarts_Library_khibcw.png');
}
body.portraits {
  background-image: url('http://res.cloudinary.com/dms46o1eu/image/upload/v1445139843/Portrait-Gallery_b7luou.jpg');
}
body.great-hall-day {
  background-image: url('http://res.cloudinary.com/dms46o1eu/image/upload/e_brightness:-50/v1445139843/Great_hall_tnhaif.jpg');
}

/* Start http://www.cursors-4u.com */
html, a:hover {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress !important;}
 /* End http://www.cursors-4u.com */
/* Start http://www.cursors-4u.com */
html, button:hover {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress !important;}
 /* End http://www.cursors-4u.com */

div.offsetter {
  height: 1%;
}

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
