// Place all the styles related to the house controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.crest {
  width: 200px;
}

#house-index {
  padding-top: 10%;
  margin: auto;
  text-align: center;
}

.house-tab {
  display: inline-block;
  padding: 10px;
}

#house-detail {
  margin: auto;
  text-align: center;
  color: white;
}

#house-detail-list {
  list-style-type: none;
}

#house-detail-list li {
  padding: 5px;
}

span {
  color: white;
}

img.crest {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

img.crest:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}
