.navbar {
  height: 5%;
}

nav.navbar-inverse {
  background-color: rgba(43,43,43,0.9);
  border-color: #090909;
}

div#navbar-brand {
  height: 50px;
}

ul.nav {
  background-color: rgba(43,43,43,0.9);
  border-color: #090909;
}
ul.nav li{
  height: 50px;
}

.nav-logo {
  height: 45px;
  width: auto;
}

a.navbar-brand {
  height: 100%;
  margin: auto;
  padding: 5px;
}

div.navbar-header {
  text-align: center;
}

div#navbar-brand {
  width: 90%;
}

.audio {
  top: -5px;
}

nav.navbar-inverse ul.navbar-nav > li > a {
  font-size: 18px;
  color: ivory;
  text-shadow: 3px 3px 5px grey;
}

nav.navbar-inverse ul.navbar-nav > li > a:hover {
  color: white;
  text-shadow: 5px 5px 10px white;
}
