#search-bar {
  text-align: center;
  width: 100%;
  margin: auto;
  z-index: 2;
}

#search-bar input {
  height: 50px;
  width: 30%;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  color: white;
  font-size: 18px;
  outline-color: black;
}

#search-bar input:focus {
  outline-style: inherit;
   box-shadow: 0 0 1pt 1pt white;
}

// #search-bar > li {
//   padding-top: 10px;
//   padding-bottom: 10px;
// }

ul#search-results {
  display: inherit;
  width: 70%;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.8);
  list-style-type: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#search-results li {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  margin: auto;
}
