// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.signin {
  height: 90%;
  text-align: center;
  color: ivory;
  text-shadow: 1px 1px 3px black;
  border-radius: 10px;
  background-color: rgba(25,25,25,0.6);
  font-size: 18px;
  box-shadow: 5px 5px 5px 5px black;
}
div.signin h1 {
  font-size: 50px;
  margin: 1%;
}
div.session-form {
  height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
div.session-form label{
  padding: 20px;
}
div.signin label {
  width: 35%;
  display: inline-flex;
  max-width: 100%;
  margin-bottom: 1%;
  font-weight: bold;
  padding: 5px;
  height: 50px;
}
div.signin input {
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid gray;
}
div.signin input:focus {
  outline: 0;
  background-color: rgba(0,0,0,0.1);
}
div.signin input.signin {
  margin: 2%;
  background-color: rgba(0,0,0,0.5);
  border-bottom: none;
  box-shadow: 0 0 1pt 1pt gray;
  width: 25%;
  height: 35px;
  font-size: 18px;
  color: ivory;
}
div.signin input.signin:hover {
  color: ivory;
  border-bottom: none;
  cursor: inherit;
  background-color: rgba(255,255,255,0.05);
  box-shadow: 0 0 5pt 5pt white;
}

img.logo-big {
  height: 100px;
  width: auto;
  margin: 1% auto;
  padding: 1%;
}

a.demo-signin-link {
  font-size: 20px;
  color: ivory;
  text-shadow: 1px 1px 15px #FFF;
}
a.demo-signin-link:hover {
  text-shadow: 1px 1px 20px white;
  color: white;
}
